{% extends 'base.html.twig' %} {% block title %}Course index{% endblock %} {%
block body %}
<div class="container p-4 w-100">
  <h1 class="mb-5">Courses Overview</h1>
  <table class="table p-2">
    <thead>
      <tr class="bg-light border-bottom border-secondary">
        <th>Category</th>
        <th>Start</th>
        <th>End</th>
        <th>Available</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr>
        <td>
          {{ course.fkCourseCategory ? course.fkCourseCategory.name : "" }}
        </td>
        <td>
          {{ course.startTime ? course.startTime|date('d.M.Y H:i') : '' }}
        </td>
        <td>{{ course.endTime ? course.endTime|date('d.M.Y H:i') : '' }}</td>
        {% if course.available == 1 %}
        <td class="text-success">YES</td>
        {% else %} }
        <td class="text-danger">NO</td>
        {% endif %}
        <td>
          <a
            class="btn btn-outline-dark me-2"
            href="{{ path('app_course_show', { id: course.id }) }}"
            >Show</a
          >
          {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TRAINER') %}
          <a
            class="btn btn-outline-dark ms-2"
            href="{{ path('app_course_edit', { id: course.id }) }}"
            >Update</a
          >
          {% endif %}
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4">no records found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TRAINER') %}
  <a class="btn btn-outline-success" href="{{ path('app_course_new') }}"
    >Create Course</a
  >
  {% endif %}
</div>
{% endblock %}
