<div class="container">
  <table class="table">
    <h1>Price Table</h1>
    <thead>
      <tr>
        <th scope="col">Privat</th>
        <th scope="col">Students</th>
        <th scope="col">Companies</th>
      </tr>
    </thead>
    <tbody>
      {% for price in prices %}
      <tr>
        <td>{{ price.studentPrice }}</td>
        <td>{{ price.businessPrice }}</td>
        <td>{{ price.privatePrice }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="container p-4 w-100">
  {% for c in courseCategories %}

  <div class="card-group row row-cols-1 row-cols-md-2 g-4">
    <div class="card" style="width: 18rem">
      <img
        src="https://www.erstehilfemitherz.at/wp-content/uploads/2020/08/first-aid-training-cpr.jpg"
        style="height: 10rem"
        class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ c.name }}</h5>
        <p class="card-title">{{ c.description }}</p>
        <p class="card-title bg-success">Pre-Booking Possible</p>
        <button type="button" class="btn btn-info">Details</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
