{% extends 'base.html.twig' %} {% block title %}write review{% endblock %} {% block body %} {% include 'user2_navbar.html.twig' %}
<div class="container mt-5">
    <h1 class="d-flex justify-content-center">write review</h1>

    <div class="reg-form ">
        {{ form_start(reviewForm) }} Review for {{ course_name }}, date: {{course_date|date('Y:m:d g:i')}} {{ form_row(reviewForm.message, { label: "\n" }) }}
    </div>
    <div class="reg-form">

        <button type="submit" class="btn btn-success">send</button> {{ form_end(reviewForm) }}

        <a class="btn btn-primary" href="{{ path('app_pre_booking_user_index') }}">Back</a>
    </div>

    {# <a href="{{ path('app_login') }}">login</a>
    <a href="{{ path('app_register') }}">register</a>
    <a href="{{ path('app_logout') }}">logout</a> #}
</div>
{% endblock %}