{% extends 'base.html.twig' %} {% block title %}Course Categories {% endblock %}
{% block body %}
<div class="container p-4 w-100">
  <h1>Course Categories</h1>

  <table class="table p-2">
    <thead>
      <tr class="bg-light border-bottom border-secondary">
        <th class="w-25">Name</th>
        <th class="w-50">Description</th>
        <th>Image</th>
        <th class="w-25">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for course_category in course_categories %}
      <tr>
        <td class="w-25">{{ course_category.name }}</td>
        <td class="w-50">{{ course_category.description }}</td>
        <td>
          <img
            src="{{asset('pictures/') ~ course_category.image}}"
            alt="image"
            width="100" />
        </td>
        <td class="w-25">
          <span class="col">
            <a
              class="btn btn-outline-dark me-2"
              href="{{
                path('app_course_category_show', { id: course_category.id })
              }}"
              >Show</a
            >
            <a
              class="btn btn-outline-dark ms-2"
              href="{{
                path('app_course_category_edit', { id: course_category.id })
              }}"
              >Edit</a
            >
          </span>
        </td>
      </tr>

      {% else %}
      <tr>
        <td colspan="5">no records found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a
    class="btn btn-outline-success"
    href="{{ path('app_course_category_new') }}"
    >Create New</a
  >
</div>
{% endblock %}
