{% extends 'base.html.twig' %} {% block title %} Dashboard {% endblock %} {%
block body %}

<div class="container d-flex justify-content-evenly mt-4">
  <a href="{{ path('app_course_index') }}"> Courses</a> <br />
  <a href="{{ path('app_course_category_index') }}"> Course Categories</a><br />
  <a href="{{ path('app_price_index') }}"> Prices</a> <br />
  <a href="{{ path('app_image_gallery_index') }}"> Images Gallery</a> <br />
  <a href="{{ path('app_pre_booking_index') }}"> Pre Bookings</a> <br />
</div>
<br />
<div class="container">
  <div
    class="container mb-4 mt-4 p-4 border border-secondary rounded border-opacity-25">
    <div id="calendar"></div>
  </div>
</div>
{% endblock %}
