{% extends 'base.html.twig' %}

{% block title %}ImageGallery index{% endblock %}

{% block body %}
    <h1>ImageGallery index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_gallery in image_galleries %}
            <tr>
                <td>{{ image_gallery.id }}</td>
                <td>{{ image_gallery.description }}</td>
                <td>{{ image_gallery.image }}</td>
                <td><img src="{{asset('pictures/') ~ image_gallery.image}}" alt="image" width="300" /></td>

                <td>
                    <a href="{{ path('app_image_gallery_show', {'id': image_gallery.id}) }}">show</a>
                    <a href="{{ path('app_image_gallery_edit', {'id': image_gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_gallery_new') }}">Create new</a>
{% endblock %}
