{% extends 'base.html.twig' %} {% block title %}ImageGallery index{% endblock %}
{% block body %}
<div class="container p-4 w-100">
  <h1>Image Gallery</h1>
  <div
    class="container mb-4 mt-4 p-4 border border-secondary rounded border-opacity-25">
    <table class="table">
      <thead>
        <tr>
          <th>Image Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for image_gallery in image_galleries %}
        <tr>
          <td>{{ image_gallery.image }}</td>
          <td>{{ image_gallery.description }}</td>
          <td>
            <img
              src="{{asset('pictures/') ~ image_gallery.image}}"
              alt="image"
              width="150" />
          </td>

          <td>
            <a
              class="btn btn-outline-secondary"
              href="{{
                path('app_image_gallery_show', { id: image_gallery.id })
              }}"
              >Show</a
            >
            <a
              class="btn btn-outline-secondary"
              href="{{
                path('app_image_gallery_edit', { id: image_gallery.id })
              }}"
              >Edit</a
            >
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a class="btn btn-outline-success" href="{{ path('app_image_gallery_new') }}"
    >Create New</a
  >
</div>
{% endblock %}
